<?xml version="1.0"?>
<launch>
	<arg name="marker_size" default="6.0" />
	<arg name="max_new_marker_error" default="0.08" />
	<arg name="max_track_error" default="0.2" />
	<arg name="cam_image_topic" default="/camera/rgb/image_rect_color" />
	<arg name="cam_info_topic" default="/camera/rgb/camera_info" />
	<arg name="output_frame" default="/camera_link" />
	<arg name="bundle_files" default="$(find birl_ar_trac_alvar)/bundles/box_0_1_2_3.xml $(find birl_ar_trac_alvar)/bundles/box_8_9_10_12.xml $(find birl_ar_trac_alvar)/bundles/box_4_5_6_7.xml $(find birl_ar_trac_alvar)/bundles/box_13_14.xml $(find birl_ar_trac_alvar)/bundles/box_11_15.xml" />

	<node name="ar_track_alvar" pkg="ar_track_alvar" type="findMarkerBundlesNoKinect" respawn="false" output="screen"
	 args="$(arg marker_size) $(arg max_new_marker_error) $(arg max_track_error) $(arg cam_image_topic) $(arg cam_info_topic)
	 $(arg output_frame) $(arg bundle_files)" />

<!--get pick pose based on /base-->
<!--<include file="$(find birl_baxter_vision)/launch/baxter_base_camera.launch"/>-->
<!--update online urdf-->
 <node name="update_urdf" pkg="birl_baxter_online_urdf_update" type="update_urdf.py" />
<!--transfor to pick pose-->
 <node name="ar_marker_trans" pkg="birl_kitting_experiment" type="ar_marker_trans.py" />
<!--update online urdf-->
 <node name="publishMarkersInfo" pkg="birl_kitting_experiment" type="publishMarkersInfo.py" />
<!--get pick pose based on /base-->
<include file="$(find birl_ar_trac_alvar)/launch/baxter_base_camera.launch"/>

</launch>
		
